body {
    /*font-family: 'Nunito Sans', sans-serif; /*Closest approximate font*/
    font-family: 'Open Sans', sans-serif;

}
.row.one, .row.three {
    background-color: white;
    padding-top: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
}
.row.two {
    background-color: #474E5D;
    color: white;
    padding-top: 60px;
    padding-left: 45px;
    padding-bottom: 60px;
}

.jumbotron {
    background-size: cover;
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 348px;
    color:white;
    text-align: center;
}
.mapPic {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    min-height: 333px;
    width: 328px;
    background-size: 424px;
    
}

#locationOnePic {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#locationTwoPic {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#locationThreePic {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.right {
    padding-right: 0px;
}
.left {
    padding-left: 0px;
}

/*Pushing the text on the first and third location away from the edge of the page.*/
.ipsumLoc {
    padding-left: 35px;
}
/*Pushing the button on the first and third location away from the edge too because nothing is simple*/
.btn.btn-primary.btn-md.one, .btn.btn-primary.btn-md.three{
    margin-left: 35px;
}

/*This is the blue banner separating the sections*/
.jumbotronTwo{
    background-color: #474E5D;
    text-align: center;
    color: white;
    height: 150px;
    padding-top: 25px;
}


/*NAVBAR*/
nav#navvy.navbar.navbar-static-top {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background-color: #474E5D; /*<-- this is the Villa color*/
}

#navvy a {
    color: #FFF6F0;
}

#navvy a:hover {
    background: none;
}


/*BUTTON for the navbar*/
button.navbar-toggle {
    border: 1px solid #FFF6F0;
}
span.icon-bar {
    border: 1px solid #FFF6F0;
}

/*GRID ROWS SECTION*/
.gridRowOne, .gridRowTwo, .gridRowThree {
    height: 300px;
}

/*amenity container padding*/
.amenity {
    padding: 35px 35px 35px 35px;
}

/*GRID CELLS SECTION*/
#cell1 {
    background-image: url('Images/3b-348x348.jpg');
    background-size: cover;
    height: 400px;
    text-align: center;
    padding-top: 170px;
    color: white;
}
.gridBit{
    background-color: gray;
    padding: 15px 10px 15px 10px;
    opacity: 0.80;
    text-align:center;
    margin-left: 110px;
    margin-right: 110px;
    max-width: 180px;
}
#cell2 {
    height:400px;
    text-align: center;
    padding-top: 70px;
    color: white;    
}
.cellHeadline {
    color: #474E5D;
   
}
.quote {
    color: #474E5D;
}

#cell3 {
    background-image: url('Images/42-348x348.jpg');
    background-size: cover;
    height: 400px;
    text-align: center;
    padding-top: 170px;
    color: white;
}

#cell4 {
    height: 400px;
    text-align: center;
    padding-top: 95px;
    color: white;
}

#cell5 {
    background-image: url('Images/314-348x348.jpg');
    background-size: cover;
    height: 400px;
    text-align: center;
    padding-top: 170px;
    color: white;
}
#cell6 {
    height: 400px;
    text-align: center;
    padding-top: 95px;
    color: white;
}
#cell7 {
    background-image: url('Images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
    background-size: cover;
    height: 400px;
    text-align: center;
    padding-top: 170px;
    color: white;
}
#cell8 {
    height: 400px;
    text-align: center;
    padding-top: 95px;
    color: white;
}
#cell9 {
    background-image: url('Images/Villa-Vanna-231-348x348.jpg');
    background-size: cover;
    height: 400px;
    text-align: center;
    padding-top: 170px;
    color: white;
}
.btn {
    border-radius: 0;
    background-color: #474E5D;
    background-image: none;
}

/*Carousel text color and placement*/
.review {
    text-align: center;
    padding-top: 135px;
}
/*Carousel indicator button colors*/
.carousel-indicators li {
  background-color: #474E5D;;
  background-color: #474E5D;;
}

.carousel-indicators .active {
    background-color: #474E5D;
}

/*form*/

#contactForm {
    height: 350px;
    padding-top: 100px;
}

#formButton {
    background-color: #474E5D;
    color: white;
}

/*footer*/
.footer {
    background-color: #474E5D;
    height: 150px;
    color: white;
    text-align: center;
    font-size: 12px;
}

.credit {
    padding-top: 10px;
}

#home {
    padding-top: 33px;
    font-size: 20px;
    color: white;
}