body {
    /*font-family: 'Nunito Sans', sans-serif; /*Closest approximate font*/
    font-family: 'Open Sans', sans-serif;

}
.row {
    background-color: white;
}
.row.two {
    background-color: #474E5D;
    color: white;
}

.jumbotron {
    background-size: cover;
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 347.422px;
    color:white;
    text-align: center;
}
div.mapPic {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    min-height: 347.422px;
    width: 333.5px;
    background-size: 424px;
    
}

#locationOnePic {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#locationTwoPic {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#locationThreePic {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.right {
    padding-right: 0px;
}
.left {
    padding-left: 0px;
}

/*This is the blue banner separating the sections*/
.jumbotronTwo{
    background-color: #474E5D;
    text-align: center;
    color: white;
}


/*NAVBAR*/
nav#navvy.navbar.navbar-static-top {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background-color: #474E5D; /*<-- this is the Villa color*/
}

#navvy a {
    color: #FFF6F0;
}

#navvy a:hover {
    background: none;
}


/*BUTTON*/
button.navbar-toggle {
    border: 1px solid #FFF6F0;
}
span.icon-bar {
    border: 1px solid #FFF6F0;
}

/*GRID ROWS SECTION*/
.gridRowOne, .gridRowTwo, .gridRowThree {
    height: 300px;
}

/*GRID CELLS SECTION*/
#cell1 {
    background-image: url('Images/3b-348x348.jpg');
    background-size: cover;
    height: 400px;
    text-align: center;
    padding-top: 170px;
}
#cell2 {
    height:400px;
    text-align: center;
    padding-top: 170px;

    
}
#cell3 {
    background-image: url('Images/42-348x348.jpg');
    background-size: cover;
    height: 400px;
    text-align: center;
    padding-top: 170px;
}
#cell4 {
    height: 400px;
    text-align: center;
    padding-top: 170px;
}
#cell5 {
    background-image: url('Images/314-348x348.jpg');
    background-size: cover;
    height: 400px;
    text-align: center;
    padding-top: 170px;
}
#cell6 {
    height: 400px;
    text-align: center;
    padding-top: 170px;
}
#cell7 {
    background-image: url('Images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
    background-size: cover;
    height: 400px;
    text-align: center;
    padding-top: 170px;
}
#cell8 {
    height: 400px;
    text-align: center;
    padding-top: 170px;
}
#cell9 {
    background-image: url('Images/Villa-Vanna-231-348x348.jpg');
    background-size: cover;
    height: 400px;
    text-align: center;
    padding-top: 170px;
}