body {
    font-family: 'Nunito Sans', sans-serif; /*Closest approximate font*/

}

.jumbotron {
    background-size: cover;
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 347.422px;
    color:white;
}
div.mapPic {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    min-height: 447.422px;
    width: 440px;
    
}


/*NAVBAR*/
nav#navvy.navbar.navbar-static-top {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background-color: #474E5D; /*<-- this is the Villa color*/
}

#navvy a {
    color: #FFF6F0;
}

#navvy a:hover {
    background: none;
}

/*BUTTON*/
button.navbar-toggle {
    border: 1px solid #FFF6F0;
}
span.icon-bar {
    border: 1px solid #FFF6F0;
}